# SPDX-FileCopyrightText: Copyright © 2026 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

[submodule ".share"]
	path = .share
	url = https://github.com/xenoterracide/subtree-share.git
[submodule ".agents"]
	path = .agents
	url = https://github.com/xenoterracide/subtree-ai.git
